<div *ngFor="let message of messages">
    <div class="card-container">
        <div class="row row-margin-bottom">
            <div class="col-md-12 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-12">
                            <div class="lib-row lib-header">
                                {{message.owner}}
                            </div>
                            <div class="lib-row lib-desc">
                                {{message.text}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>